* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: brands;
    src: url(../fonts/fa-brands-400.ttf);
}

/* FONT-AWESOME */
.fab {
    font-family: brands;
}

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-twitter::before {
    content: "\f099";
}

.fab.fa-behance-square::before {
    content: "\f1b4";
}

.fab.fa-dribbble::before {
    content: "\f17d";
}

/* BASE */
html {
    color: #606060;
    font-family: lato-regular, sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: lato-bold, sans-serif;
    color: #4f4e4e;
}

h2 {
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1em;
}

h3 {
    font-size: 1.35rem;
}

a {
    font-family: lato-bold, sans-serif;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

/* SCREEN */
.menu-open .screen {
    background-color: rgba(0, 0, 0, 0.753);
    transition: 0.6s;
    pointer-events: unset;
}

.screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
}

/* MODAL */
.modal-container {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity 0.6s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.modal-open .modal-container {
    opacity: 1;
    pointer-events: unset;
}
.modal-container .screen {
    background-color: rgba(0, 0, 0, 0.753);
    display: block;
    pointer-events: unset;
}

.modal {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 4;
}

.modal .modal-actions {
    text-align: center;
}

.modal .modal-body h3 {
    margin-top: 1.32em;
    text-align: center;
}

.modal .modal-body p {
    margin-top: 3em;
}

.modal [name=email] {
    border-radius: 5px;
    color: inherit;
    margin-top: 15px;
    font-size: 1.35rem;
    font-family: inherit;
}

.modal .modal-actions {
    margin-top: 25px;
}

.modal .modal-actions .btn {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 25px;
    color: white;

}

.modal .modal-actions .btn-close {
    background-color: #7d7d7d;
}

.modal .modal-actions .btn-submit {
    background-color: #57c939;;
}

/* LAYOUT */
.main-layout {
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #292929;
    box-shadow: inset 0 -6px #1e1e1e;
    padding: 13px;
    position: relative;
    z-index: 2;
}

.header .toggle-menu {
    cursor: pointer;
}

.header .toggle-menu .close {
    display: none;
}

.menu-open .header .toggle-menu .close {
    display: block;
}

.menu-open .header .toggle-menu .hamburger {
    display: none;
}

.header {
    height: 100%;
}

.header .header-logo {
    height: 100%;
    flex-grow: 1;
}

/* main-nav */
.menu-open .main-nav {
    transform: translate(-50%, 0);
}

.main-nav {
    background-color: rgba(255, 255, 255, 0.815);
    position: absolute;
    top: 59px;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -125%);
    transition: transform 0.6s;
}

.main-nav ul {
    width: 200px;
    flex-grow: 1;
    flex-direction: column;
}

.main-nav li {
    background-color: #292929;
    border-bottom: 1px solid #1e1e1e;
    border-inline-end: 0;
    height: 100%;
    width: 100%;
    flex-basis: 65px;
}

.main-nav .main-nav-dropdown {
    width: 130px;
    display: none;
}

.main-nav .main-nav-dropdown > li:first-child {
    border-top: 1px solid #1e1e1e;
}

.main-nav .main-nav-dropdown > li:last-child {
    border-bottom: none;
}

.main-nav .drop-down-open + .main-nav-dropdown {
    width: 100%;
    display: flex;
}

.main-nav .selected {
    box-shadow: inset -6px 0 #57c939;;
    color: #57c939;
}

.main-nav a {
    box-shadow: inset -6px 0 #1e1e1e;
    color: #fff;
    height: 65px;
    width: 100%;
}

/* MAIN */
.main-content {
    padding: 80px 13px;
    border-inline-end: 1px solid #e1dfdf;
    border-inline-start: 1px solid #e1dfdf;
}

/* article */
.article {
    margin-bottom: 80px;
    flex-direction: column;
}

.article:last-child {
    margin-bottom: 0;
}

.article img {
    margin-bottom: 10px;
}

.article .article-body p:first-of-type {
    margin-top: 2.88em;
}

.article .article-body p {
    letter-spacing: 0.034em;
    line-height: 1.3em;
}

.article .article-body p:last-of-type {
    flex: 1;
}

.article .article-body button {
    align-self: flex-start;
    background-color: transparent;
    border: 2px solid #c1c1c1;
    border-radius: 3em;
    color: #c2c1c1;
    cursor: pointer;
    line-height: 40px;
    padding: 0 25px;
    font-family: lato-bold, sans-serif;
    font-size: 1em;
    margin-top: 15px;
}

/* PAGINATION */
.pagination-container {
    padding: 30px 0;
    border-inline-start: 1px solid #e1e0e0;
    border-inline-end: 1px solid #e1e0e0;
    border-top: 1px solid #e1e0e0;
}

.pagination-container > button {
    background-color: transparent;
    border: none;
    color: #818181;
    cursor: pointer;
    font-family: lato-bold, sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 0 30px;
}

.pagination-container .next img {
    margin-left: 10px;
}

.pagination-container .previous img {
    margin-right: 10px;
}

/* FOOTER */
footer {
    border-top: 1px solid #e1e0e0;
    background-color: #f8f8f8;
    padding: 77px 13px;
}

footer .info {
    margin: 30px 0;
    text-align: center;
    font-size: 0.812rem;
    color: #a6a6a6;
    letter-spacing: 0.045em;
}

/* social */
.social {
    gap: 20px;
}

.social > a {
    color: white;
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    transition: 0.6s;
    cursor: pointer;
}

/* HELPERS */
/* flex helpers */
.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* list helpers */
.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* SMALL */
@media (min-width: 868px) {
    .screen {
        pointer-events: none;
        display: none;
    }
    .modal {
        width: 600px;
        height: auto;
    }
    .main-layout {
        max-width: 768px;
    }
    header {
        padding: 0;
    }
    .header .toggle-menu {
        display: none;
    }
    .menu-open .main-nav {
        transform: translate(0);
    }
    .main-nav {
        background-color: transparent;
        height: 100%;
        flex-grow: 1;
        position: static;
        transform: translateX(0);
        transition: 0s;
    }
    .main-nav > ul {
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        width: auto;
    }
    .main-nav li {
        border-bottom: 0;
        border-inline-end: 1px solid #1e1e1e;
    }
    .main-nav li a {
        box-shadow: inset 0 -6px #1e1e1e;
        border-inline-end: 1px;
        height: 100px;
        width: 130px;
    }
    .main-nav .drop-down-open + .main-nav-dropdown {
        width: 130px;
    }
    .main-nav .main-nav-dropdown {
        pointer-events: none;
        position: absolute;
        display: flex;
        opacity: 0;
        transition: 0.6s;
    }
    .main-nav .main-nav-dropdown li {
        border-bottom: 1px solid #1e1e1e;
    }
    .main-nav .main-nav-dropdown a {
        box-shadow: none;
    }
    .main-nav li:hover .main-nav-dropdown {
        pointer-events: unset;
        opacity: 1;
    }
    .main-nav li:first-child {
        border-inline-start: 1px solid #1e1e1e;
    }
    .main-nav .selected {
        border-inline-end: 0;
        box-shadow: inset 0 -6px #57c939;
        color: #57c939;
    }
    .main-content {
        padding: 80px 0;
    }
    .article {
        flex-direction: row;
    }
    .article img {
        margin-bottom: 0;
        object-fit: contain;
        width: 320px;
        align-self: flex-start;
    }
    .article .article-body {
        margin-inline-start: 40px;
    }
    .article .article-body p:first-of-type {
        margin-top: 0.55em;
    }
    .article .article-body button:hover {
        border-color: #5cca3f;
        color: #5cca3f;
    }
    .article .article-body button span::after {
        display: inline-block;
        content: "";
        background-image: url(../img/green-arrow.png);
        width: 0;
        height: 7px;
        margin-left: 10px;
        transition: 0.6s;
    }
    .article .article-body button:hover span::after {
        display: inline-block;
        content: "";
        background-image: url(../img/green-arrow.png);
        width: 15px;
        height: 7px;
        margin-left: 10px
    }
    .pagination-container button {
        transition: transform 0.6s;
    }
    .pagination-container button:hover {
        transform: scale(1.3);
    }
    .social > a:hover {
        background-color: #516fad;
        text-decoration: none;
    }
}

/* RGULAR */
@media (min-width: 1200px) {
    .main-layout {
        max-width: 980px;
    }
    .main-nav li a {
        height: 130px;
    }
    .article {
        height: 307px;
    }
    .article img {
        width: auto;
    }
    .article .article-body button {
        margin-top: 0;
    }
    .article .article-body p:first-of-type {
        margin-top: 3.05em;
    }
}